black
detect-secrets
flake8
h5py
h5tree
ipympl
ipywidgets
isort
jsonargparse[signatures]
jupyterlab
lightning
mamba-ssm[causal-conv1d]
numpy
openai
pandas
pqdm
pre-commit
scikit-learn
scipy
seaborn
statannotations
statsmodels
tensorboard
torch
tqdm
transformers
vllm
wandb
omegaconf
